.navbar-toggler {
  border-color: #ffffff;
  border-style: solid 2px;
} 

.mt-n1 {
  margin-top: -5%;
}



.classe_a{
	margin-left: 0%;
	margin-right: 0%;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}

a:hover {
  font-weight: bolder;
  color: white;
  font-size: 22px
}
