/*resetando as tags, antes de iniciar*/
body,a, h1,h2,h3,h4,p,ul,li{
	margin: 0px;
	padding: 0px;
}

h1{
  font-size: 1.65rem;
  font-weight: bold;
}

h2{
  font-size: 1.6rem;
  font-weight: bold;
}

h4{
  font-size: 1.2rem;
}

h5{
  font-size: 1.1rem;
}

body{
	font-family: Helvetica, Arial, sans-serif;/*cursive, "Lucida Console", monospace;/*"Nunito",/*familia da fonte*/
	color: #222222; /*cor preta nao tao intensa da fonte*/
	padding-top: 100px;

}

ul{
	list-style: none; /*retira os pontos antes de cada termo*/
}

a{
	text-decoration: none; /*retira o sublinhado do link*/
}

img{
	max-width: 100%;/*não estoura o limite da tela, mas nao perde resolução*/
	display: block; /*as imagens nunca alinham, sempre ficam como bloco (em cima da outra tag)*/
	
}

*{
	box-sizing: border-box; /*com essa propriedade, a largura era sempre o somatório do width com o padding.
	/*com o border-box a largura é sempre o width apenas*/
}

li{
	color: white;
}

html {
  scroll-behavior: smooth;
}
/*classes menos genericas - cabeçalho de cima e de baixo*/
.superinfo-bg{
	background-color: green;
	color: white;
  height: 60px;
}

.superinfo{
	margin: 0 auto;/*centraliza o container na tela, limitada no superinfo-bg*/
	display: flex; /*alinha os itens*/
	justify-content: space-between; /*espaça igualmente os elementos filhos dessa classe*/
	flex-wrap: wrap; /*se não couber, os elementos passam para a próxima linha*/
	padding-top: 15px;

}

.superinfo p{
	margin: 0 10px 20px 10px;
}

.superinfo a{
	color: white; /*estilizo a tag a, filha em algum grau da classe superinfo*/
	margin: 0 10px 10px 10px;
}

.menu-bg{
	background-color: green;
}

.super{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index: 100;
}

.treino_func{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    transition: width 0.5s, height 0.5s;
  }

  .treino_func:hover{
    width: 300px;
    height: 300px;
  }

  .texto{
    font-size: 0.9em;
  }

  #quote{
    background:
       /* top, transparent black, faked with gradient */ 
       linear-gradient(
         rgba(0, 0, 0, 0.3), 
         rgba(0, 0, 0, 0.3)
       ),
        url('../img/trilha.jpg') center center;
   background-size: cover;
   min-height: 350px;
 
    /* defina o background como fixo e posicione a imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 760px){
    .quote-block{
        vertical-align: middle;
        padding-top: 70px;
    }
}

@media(max-width: 760px){
    .quote-block{
        vertical-align: middle;
        padding-top: 30px;
    }
}

.palavra{
    font-size: 1.3em;
    vertical-align: middle;
    top: 50%;
    margin: 0 auto;
}

.plano_titulo{
    color: gray
}

ul{
    list-style: none;
}

#quote-segundo{
    background:
       /* top, transparent black, faked with gradient */ 
       linear-gradient(
         rgba(0, 0, 0, 0.3), 
         rgba(0, 0, 0, 0.3)
       ),
        url('../img/treino-praia.jpg') center center;
        min-height: 350px;
        max-width: 100%;
 
        /* defina o background como fixo e posicione a imagem */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.observacao{
    font-size: 0.8em;
}

/*------------------------------------------slides--------------------------------------------------------------*/


.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js [data-anime]{
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0,-30px,0);
}

.js .anime{
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

#quote{
   background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
      url('../img/ninas.png') center center;
  background-size: cover;
  height: 450px;
}

.titulo_contato{
  text-align: center;
  color: #781568;
  line-height: 42px;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-family: cursive, "Lucida Console", monospace;
}

label{
  line-height: 25px;
  letter-spacing: 0.06em;
  font-family: cursive, "Lucida Console", monospace;
}


