*{
	box-sizing: border-box;
}

html, body{
	text-align: center;
}

div#container{
	width: 200px;
	border-radius: 10px;
	background-color: lightgray;
	box-shadow: 5 px 5px 3px black;
	margin: 10% auto 10px;
	padding: 5px;
}