/*resetando as tags, antes de iniciar*/
body,a, h1,h2,h3,h4,p,ul,li{
	margin: 0px;
	padding: 0px;
}

header{
  background-color: red;
  color: white;
  text-align: center;
  font-family: cursive, "Lucida Console", monospace;;
}

header h1{
  padding: 20px 0;
}

.container{
  max-width: 90%;
  margin-top: 20px;
}

.no{
  font-weight: bolder;
}

h2{
  font-size: 1.6rem;
}

.botao{
  min-width: 300px; 
  background: #fec63e; 
  border-color: #fec63e;
  color: black;
  font-weight: bold;
}

.margem-t{
  margin-top: 50px;
}

.margem-tt{
  margin-top: 1.5rem;
}

.margem-tta{
  margin-top: 50px;
}

@media only screen and (min-width: 1088px) and (max-width: 1500px){
  #loading{
    margin-top: 15%;
  }
}

@media only screen and (min-width: 608px) and (max-width: 1087px){
  #loading{
    margin-top: 22%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 607px){
  #loading{
    margin-top: 40%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 599px){
  h1{
    font-size: 26px;
  }
}

@media only screen and (min-width: 1088px) and (max-width: 1500px){
  .tamanho_e{
    max-width: 140px;
    font-size: 14px;
  }
  .espaco_entry{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1087px){
  .espaco_entry{
    margin-top: 5px;
    margin-bottom: 50px;
  }
}

/*@media only screen and (min-width: 900px) and (max-width: 1088px){
  .tamanho_e{
    max-width: 83px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px){
  .tamanho_e{
    max-width: 67px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 454px) and (max-width: 767px){
  .tamanho_e{
    max-width: 80px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 453px){
  .tamanho_e{
    max-width: 75px;
    font-size: 8px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 399px){
  .tamanho_e{
    max-width: 63px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 359px){
  .tamanho_e{
    max-width: 50px;
    font-size: 7px;
  }
}

*/
@media only screen and (min-width: 1088px) and (max-width: 1500px){
  .tamanho_f{
    max-width: 140px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1087px){
  .espaco_prod{
    margin-top: 5px;
    margin-bottom: 50px;
  }
}

/*
@media only screen and (min-width: 900px) and (max-width: 1088px){
  .tamanho_f{
    max-width: 89px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px){
  .tamanho_f{
    max-width: 90px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 454px) and (max-width: 767px){
  .tamanho_f{
    max-width: 109px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 453px){
  .tamanho_f{
    max-width: 100px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 399px){
  .tamanho_f{
    max-width: 85px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 359px){
  .tamanho_f{
    max-width: 53px;
    font-size: 7px;
  }
}*/
.tt{
	margin-right: 7%;
	margin-left: 7%;
}
label{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -10px;
}

.anime{
	opacity: 0;
	transform: translate3d(-80px,0px,0px)
}

.anime-init{
	opacity: 1;
	transition: 0.7s all ease;
	transform: translate3d(0px,0px,0px)
}


