*{
	box-sizing: border-box;
}

html, body{
	
	font: Arial, Times New Roman, sans-serif;
	/*background: black;
	color: yellow;*/
}

header{
	background-color: #fec63e;
	text-align: center;
}

header h1{
	padding: 20px 0;
}

.container{
	max-width: 90%;
	margin-top: 20px;
}

.no{
	font-weight: bolder;
}

h2{
	font-size: 1.6rem;
}

.botao{
	min-width: 280px; 
	background: #fec63e; 
	border-color: #fec63e;
	color: black;
	font-weight: bold;
}

.margem-t{
	margin-top: 50px;
}

.margem-tt{
	margin-top: 1.5rem;
}

.margem-tta{
	margin-top: 50px;
}

@media only screen and (min-width: 1088px) and (max-width: 1500px){
  h1{
    font-size: 36px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1087px){
  h1{
    font-size: 30px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 599px){
  h1{
    font-size: 26px;
  }
}
